#presupuesto {
    border-color: #145A32;
    background-color: #D2FFCF
  }

  #montoPresupuesto {
    border-color: #145A32;
    background-color: #D2FFCF
  }

  #gasto {
    border-color: #b91717;
    background-color: #FDBAAE
  }

  #nombreGasto {
    background-color: #FDBAAE
  }

  #montoGasto {
    background-color: #FDBAAE
  }